.drawer-wrapper {
    background-color: white;
    border-right-color: #646464;
    border-right-width: 10;
}

.drawer-content {

    color: #ffffff;
    padding-top: 10;
    width: 300;

}

.drawer-content .drawer-item {
    padding-left:30;
    margin-bottom: 5;
    margin-top: 5;
}
.drawer-wrapper .logo {
    margin-top: 10;
}

.selected {
    color: #e4ba4e;
}