#empty-list {
}
#top-section-list-expenses{
    border-bottom-color: black;
    border-bottom-width: 1;
}

#expenses-list > .expense {
    min-height: 100;
    margin-top: 3;

    border-color: lightgray;
    border-width: 2;

    padding-left: 5;
    padding-right: 5;

    background-color: #f8f8f8;
}

.expense-name {
    font-size: 22;
    font-weight: bold;
}

.expense-amount {
    font-size: 20;
    margin-right: 5;
    vertical-align: center;

}