<Page xmlns="http://schemas.nativescript.org/tns.xsd"
      xmlns:exp="components/expense-form"
      xmlns:sd="nativescript-ui-sidedrawer"
      xmlns:drawer="components/drawer"
      xmlns:action="components/para-action-bar"
      xmlns:df="nativescript-ui-dataform"
      navigatingTo="navigatingTo" class="page" actionBarHidden="false">

    <action:para-action-bar action="back" title="{{L('settings')}}"/>

    <sd:RadSideDrawer showOverNavigation="true" id="sideDrawer">

        <sd:RadSideDrawer.drawerContent>
            <drawer:drawer-content></drawer:drawer-content>
        </sd:RadSideDrawer.drawerContent>
        <sd:RadSideDrawer.mainContent>
            <ScrollView>
                <StackLayout>
                    <StackLayout class="p-20 form" row="1" loaded="onLoad" id="container">
                        <Label text="{{L('preferences_general')}}" class="h1 text-center"></Label>
                        <df:RadDataForm
                                id="settings-form"
                                source="{{settingsObject}}"
                                metadata="{{settingsMetadata}}"
                                validationMode="Immediate"
                                commitMode="Manual"
                        />
                        <Button id="actionBtn" class="btn btn-primary" tap='saveSettingsTapped' text="{{L('save')}}"/>
                    </StackLayout>
                    <StackLayout visibility="{{ showChangePassword ? 'visible' :'collapse' }}">
                        <Label text="{{L('change_password')}}" class="h1 text-center"></Label>

                        <df:RadDataForm
                                id="change-password-form"
                                source="{{changePassSourceObject}}"
                                metadata="{{changePassMetadata}}"
                                validationMode="Immediate"
                                commitMode="Manual"
                                propertyValidate="passwordValidate"
                        />
                        <Button id="change_pass_btn" class="btn btn-primary" tap='onChangePassBtn'
                                text="{{L('change_password')}}" isEnabled="{{!passwordChanging}}"/>
                    </StackLayout>
                </StackLayout>
            </ScrollView>

        </sd:RadSideDrawer.mainContent>

    </sd:RadSideDrawer>

</Page>
