<Page xmlns="http://schemas.nativescript.org/tns.xsd"
      xmlns:exp="components/expense-form"
      xmlns:sd="nativescript-ui-sidedrawer"
      xmlns:drawer="components/drawer"
      xmlns:action="components/para-action-bar"
      xmlns:df="nativescript-ui-dataform"
      navigatingTo="navigatingTo" class="page" actionBarHidden="false">

    <action:para-action-bar action="back" title="Settings"/>

    <sd:RadSideDrawer showOverNavigation="true" id="sideDrawer">
        <sd:RadSideDrawer.drawerContent>
            <drawer:drawer-content></drawer:drawer-content>
        </sd:RadSideDrawer.drawerContent>
        <sd:RadSideDrawer.mainContent>

            <StackLayout class="p-20 form" row="1" loaded="onLoad" id="container">
                <df:RadDataForm
                        id="settings-form"
                        source="{{settingsData}}"
                        metadata="{{metadata}}"
                        validationMode="Immediate"
                        commitMode="Manual"
                >



                </df:RadDataForm>

                <Button id="actionBtn" class="btn btn-primary" tap='saveTapped' text="Save"/>
            </StackLayout>
        </sd:RadSideDrawer.mainContent>
    </sd:RadSideDrawer>

</Page>
